<div class="center">   
  <div class="booyah-box col-xs-10 col-xs-offset-1">    
    <%= form_for(location) do |f| %>
      <% if location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
          <% location.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <%= f.label :address_1 %>
        <%= f.text_area :address_1 %>
      </div>

      <div class="field">
        <%= f.label :address_2 %>
        <%= f.text_area :address_2 %>
      </div>

      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>

      <div class="field">
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>

      <div class="field">
        <%= f.label :postcode %>
        <%= f.text_field :postcode %>
      </div>

      <div class="field">
        <%= f.label :bike_type %>
        <%= f.text_field :bike_type %>
      </div>

      <div class="field">
        <%= f.label :guests %>
        <%= f.number_field :guests %>
      </div>

      <%= f.hidden_field :member_id, value: current_member.id %>

      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
