<div id="reservation-form">  
  <div class="container">
    <div class="dates-wrapper">
      <h2 class="main-title">Add Available Dates</h2>
      <br />
        <%= form_tag({controller: "locations", action: "add_available_dates"}, method: "get", class: "form-inline") do %>
        <div class="form-group">
          <%= text_field_tag :start_date, nil, id: "datepicker-start", class: "form-control", placeholder: "Start Date" %>
        </div>
        <div class="form-group">
          <%= text_field_tag :end_date, nil, id: "datepicker-end", class: "form-control", placeholder: "End Date" %>
        </div>
          </br><br/>
          <%= submit_tag "Add available dates" %>
        <% end %>  
      </div>

    <div id="calendar" class="calendar-wrapper"></div>

    <%=link_to("View this location", @location, class: "btn btn-primary text-white") %>

  </div>
</div>

<script type="text/javascript">
  $('#calendar').fullCalendar({
    events: '/locations/<%= @location.id %>/calendar.json',
  });
</script>

<script type="text/javascript">
$(function() {
  $('#datepicker-start').pickadate()
  $('#datepicker-end').pickadate()
}); 
</script>
