<div class="container locations-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search More</h3>
        </div>
        <ul class="list-group">
        <%= form_tag locations_path, method: :get do %>
          <li class="list-group-item">
            <h5>Destination</h5>
            <div class="form-group">
              <%= text_field_tag(:address, nil, class: "form-control", placeholder: "where to? city, state, address") %>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Travel Dates</h5>
            <div class="form-group"> 
              <%= text_field_tag(:start_date, nil, id: "datepicker-start", class: "form-control", placeholder: "check in") %>
            </div>
            <div class="form-group">
              <%= text_field_tag(:end_date, nil, id: "datepicker-end", class: "form-control", placeholder: "check out") %>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Bike Types</h5>
            <div class="form-group">
              <%= select_tag "bike_type", "<option>Road</option><option>Mountain</option><option>Gravel</option>".html_safe, prompt: "Select Bike Type" %>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Guests</h5>
            <div class="form-group">
              <%= select_tag "guests", "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>".html_safe, prompt: "Select Guests" %>
            </div>
          </li>
          <li class="list-group-item">
            <%= submit_tag "Find Locations", name: "commit", class: "btn btn-primary" %>
          </li>
        <% end %>
        <br/><br/>
        <h5 class="card-link"><%= link_to 'New Location', new_location_path, class: "btn btn-primary text-white" %><h5> 
        </ul>
        
      </div>
    </div>
    <div class="col-md-9">
      <% @locations.each do |location| %>
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-5">
                <% unless location.location_images.empty? %>
                  <%= link_to( image_tag(location.location_images[0].picture.url(:large), class: "location-picture", alt: "location picture"), location ) %>
                <% end %>
              </div>
              <div class="col-md-7">
                <h2><%= link_to( location.title, location, class: "location-link" ) %></h2>
                <h5><em><%= location.address_1 %>, <%= location.city %></em></h5>
                <h5 class="text-wrapper"><%= location.description %><h5>
                <h5 class="text-wrapper">Bike Type: <%= location.bike_type %></h5>
                <h5 class="text-uppercase"><%= location.guests %> guests</h6>
                <h5 class="card-link float-xs-right text-muted"><%= link_to("View this location", location) %> <h5>
                <h5 class="card-link float-xs-right text-muted"><%= link_to 'Edit location', edit_location_path(location) %><h5>
                <h5 class="card-link"><%= link_to 'Delete location', location, method: :delete, data: { confirm: 'Are you sure?' } %><h5>  
                  <br /><br />

                
            
              </div>
            </div>
          </div>
        </div>
      <% end %>


      <div class="text-xs-center">
        <%= paginate @locations, theme: 'twitter-bootstrap-4' %>
      </div>
      
<script type="text/javascript">
$(function() {
  $('#datepicker-start').pickadate()
  $('#datepicker-end').pickadate()
}); 
</script>

<script type="text/javascript">
handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
    markers = handler.addCircle(<%=raw @coordinates.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds(markers);
    handler.getMap().setZoom(15);
  });
</script>
