<div class="container location-page">
  
  <section>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-uppercase"><%= @location.title %></h1>
      </div>

<%= form_for Reservation.new, url: new_reservation_path, html: { method: :get, class: "form-inline" } do |f| %>
  <%= f.hidden_field :location_id, value: @location.id %>
  <%= f.hidden_field :member_id, value: current_member.id %>
<div class="form-group">
  <%= f.text_field :start_date, id: "datepicker-start", class: "form-control", placeholder: "check-in" %>
</div>
<div>
  <%= f.text_field :end_date, id: "datepicker-end", class: "form-control", placeholder: "check-out" %>
</div>
  
  <%= f.submit "Make a Reservation", class: "btn btn-warning pull-right" %>
<% end %>  

      <div class="col-md-6 pull-right">
        <div class="pull-right">
          <h5><%= @location.address_1 %></h5>
          <h5><%= @location.address_2 if @location.address_2 %></h5>
          <h5><%= @location.city if @location.city %></h5>
          <h5><%= @location.state if  @location.state %></h5>
          <h5><%= "#{@location.postcode}" if @location.postcode %></h5>
          <h5><%= @location.bike_type if @location.bike_type %></h5>
        </div>
        
      </div>
    </div>
  </section>

<section>
  <div class="pictures">
    <% @location_images.each do |image| %>
      <%= image_tag image.picture.url(:large), class: "location-picture", alt: "location picture" %>
    <% end %>
  </div>
</section>

<h1><%= @location.title %></h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

<section>
  <h3>Description:</h3>
  <p><%= @location.description %></p>
</section>

<section>
  <h3>Number of Guests Allowed:</h3>
  <p><%= @location.guests %></p>
</section>

<section>
  <h3>Bike Type:</h3>
  <p><%= @location.bike_type %></p>
</section>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
    markers = handler.addCircle(<%=raw @coordinates.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds(markers);
    handler.getMap().setZoom(15);
  });
</script>
