<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>


<% @location_images.each do |image| %>
  <%= image_tag image.picture.url %>
<% end %>



<!-- <div class="container location-page">
  
  <section>
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-uppercase"><%= @location.title %></h1>
      </div>

      <div class="col-md-6 pull-right">
        <div class="pull-right">
          <h5><%= @location.address_1 %></h5>
          <h5><%= @location.address_2 if @location.address_2 %></h5>
          <h5><%= @location.city if @location.city %></h5>
          <h5><%= @location.state if  @location.state %></h5>
          <h5><%= "#{@location.postcode}" if @location.postcode %></h5>
          <h5><%= @location.bike_type if @location.bike_type %></h5>
        </div>
        
      </div>
    </div>
  </section>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @location.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @location.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @location.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<p>
  <strong>Bike type:</strong>
  <%= @location.bike_type %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @location.guests %>
</p>

<p>
  <strong>Member:</strong>
  <%= @location.member %>
</p> -->


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
