<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "AirBnBCycling" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async defer
   src="https://maps.googleapis.com/maps/api/js?v=3.36
    &key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap">
  </script>

</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <!-- </button>  --> 
    </div> 
    <nav class="navbar navbar-light">
    <span class="navbar-text float-xs-left">
      <%= link_to 'AirBnB Cycling', root_path, class: 'navbar-brand' %>
    </span>
      
    <% if member_signed_in? %>
        <ul class="navbar-text float-xs-right text-muted">
          <%= link_to 'Sign out', destroy_member_session_path, method: :delete %>
        </ul>  
        <ul class="navbar-text float-xs-right text-muted">
          <%= link_to 'Member Profiles', profiles_path %>
        </ul> 
          
      <% if has_profile? %>
        <ul class="navbar-text float-xs-right text-muted">
          <%= link_to "Your Profile", member_profile_path(current_member, current_member.profile) %>
        </ul>  
      <% else %>
        <ul class="navbar-text float-xs-right text-muted">
         <%= link_to "Create Profile", new_member_profile_path(current_member) %>
        </ul> 
      <% end %>

      <% if current_member.locations.any? %>
        <ul class="navbar-text float-xs-right text-muted">
          <%= link_to "Host Locations", host_locations_path %>
        </ul> 
      <% else %>
        <ul class="navbar-text float-xs-right text-muted">  
          <%= link_to "Become a host", payout_account_path, class: "btn btn-warning btn-property" %>
        </ul>
      <% end %>

      <ul class="navbar-text float-xs-right text-muted">  
        <%= link_to "Reservations", reservations_path %>
      </ul>

    <% else %>
        <ul class="navbar-text float-xs-right text-muted">  
          <%= link_to "Sign up", new_member_registration_path %>
        </ul>
        <ul class="navbar-text float-xs-right text-muted">  
          <%= link_to "Sign in", new_member_session_path %>
        </ul>  
        <ul class="navbar-text float-xs-right text-muted">  
          <%= link_to "Become a host", payout_account_path, class: "btn btn-warning btn-property" %>
        </ul>
      <% end %> 

          
      </nav>
      </nav>  
      <!-- </div> -->
  </div>
</nav>
  
<div class="container-fluid">    
  <% unless notice.blank? %>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %>
    </div>
  <% end %>

  
  <% unless alert.blank? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= alert %>
    </div>
  <% end %>    
</div>  
  <%= yield %>
  
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag "Stripe.publishableKey = '#{ENV["stripe_publishable_key"]}';" %>
</body>
</html> 
