<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "AirBnBCycling" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <!-- </button>  --> 
    </div> 
    <nav class="navbar navbar-light bg-faded">
    <span class="navbar-text float-xs-left">
      <%= link_to 'AirBnB Cycling', root_path, class: 'navbar-brand' %>
    </span>
      
        
            
          <% if member_signed_in? %>
          <ul class="navbar-text float-xs-right text-muted">
            <%= link_to 'Sign out', destroy_member_session_path, method: :delete %>
          </ul>  
          <ul class="navbar-text float-xs-right text-muted">
            <%= link_to 'Member Profiles', profiles_path %>
          </ul> 
            <% if has_profile? %>
            <ul class="navbar-text float-xs-right text-muted">
              <%= link_to "Your Profile", member_profile_path(current_member, current_member.profile) %>
            </ul>  
            <% else %>
            <ul class="navbar-text float-xs-right text-muted">
             <%= link_to "Create Profile", new_member_profile_path(current_member) %>
            </ul> 
            <% end %>
          <% else %>
          <ul class="navbar-text float-xs-right text-muted">  
            <%= link_to "Sign up", new_member_registration_path %>
          </ul>
          <ul class="navbar-text float-xs-right text-muted">  
            <%= link_to "Sign in", new_member_session_path %>
          </ul>  
          <% end %>  
          <ul class="navbar-text float-xs-right text-muted">  
            <%= link_to "Become a host", new_location_path, class: "btn btn-warning btn-property" %>
        </ul>
      </nav>
      </nav>  
      <!-- </div> -->
  </div>
</nav>
  
<div>    
  <% unless notice.blank? %>
    <%= notice %>
  <% end %>
  
  <% unless alert.blank? %>
    <%= alert %>
  <% end %>    
</div>  
  <%= yield %>
  
</body>
</html> 
