<!DOCTYPE html>
<html>
<head>
  <title>AirBnBCycling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless notice.blank? %>
    <%= notice %>
  <% end %>
  <% unless alert.blank? %>
    <%= alert %>
  <% end %>

  <%= link_to('Sign in', new_member_session_path) %>

<%= yield %>

</body>
</html>
